<div class="mui-slider-group mui-slider-loop">
  <!-- 额外增加的一个节点(循环轮播：第一个节点是最后一张轮播) -->
  <!--4,1,2,3,4,1-->
  <div class="mui-slider-item mui-slider-item-duplicate" id="<%= data[3].id%>">
    <a href="view/news/index.html">
      <img src="../imgs/test/3.jpg">
      <p class="mui-slider-title"><%= data[3].title%></p>
    </a>
  </div>
 <% for(var i=0,ll=data.length;i<ll;i++) {%>
  <div class="mui-slider-item" id="<%= data[i].id%>">
    <a href="#">
      <img src="../imgs/test/<%= i%>.jpg">
      <p class="mui-slider-title"><%= data[i].title%></p>
    </a>
  </div>
  <%}%>
  <!-- 额外增加的一个节点(循环轮播：最后一个节点是第一张轮播) -->
  <div class="mui-slider-item mui-slider-item-duplicate" id="<%= data[1].id%>">
    <a href="#">
      <img src="../imgs/test/1.jpg">
      <p class="mui-slider-title"><%= data[1].title%></p>
    </a>
  </div>
</div>
<div class="mui-slider-indicator mui-text-right">
  <div class="mui-indicator mui-active"></div>
  <div class="mui-indicator"></div>
  <div class="mui-indicator"></div>
  <div class="mui-indicator"></div>
</div>
